In [1]:
# Dependencies
#from census import Census
#from config import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
cdc_data = pd.read_csv("./VSRR_Provisional_Drug_Overdose_Death_Counts.csv")
cdc_data.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Number of Deaths,4133.0,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Methadone (T40.3),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Heroin (T40.1),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [3]:
cdc_df = cdc_data[["Indicator", "State","Year", "Month", "Data Value","Percent Complete", "Percent Pending Investigation", "State Name", "Predicted Value"]]
cdc_df.head()

,Indicator,State,Year,Month,Data Value,Percent Complete,Percent Pending Investigation,State Name,Predicted Value
0,"Synthetic opioids, excl. methadone (T40.4)",AK,2015,April,NaN,100,0.0,Alaska,NaN
1,Number of Deaths,AK,2015,April,4133.0,100,0.0,Alaska,NaN
2,"Natural, semi-synthetic, & synthetic opioids, ...",AK,2015,April,NaN,100,0.0,Alaska,NaN
3,Methadone (T40.3),AK,2015,April,NaN,100,0.0,Alaska,NaN
4,Heroin (T40.1),AK,2015,April,NaN,100,0.0,Alaska,NaN

In [4]:
cdc_opiod_df = cdc_df.loc[cdc_df ["Indicator"]=="Opioids (T40.0-T40.4,T40.6)",:]
cdc_opiod_df

,Indicator,State,Year,Month,Data Value,Percent Complete,Percent Pending Investigation,State Name,Predicted Value
11,"Opioids (T40.0-T40.4,T40.6)",AK,2015,April,NaN,100,0.000000,Alaska,NaN
12,"Opioids (T40.0-T40.4,T40.6)",AK,2015,August,NaN,100,0.000000,Alaska,NaN
25,"Opioids (T40.0-T40.4,T40.6)",AK,2015,December,NaN,100,0.000000,Alaska,NaN
37,"Opioids (T40.0-T40.4,T40.6)",AK,2015,February,NaN,100,0.000000,Alaska,NaN
57,"Opioids (T40.0-T40.4,T40.6)",AK,2015,January,NaN,100,0.000000,Alaska,NaN
...,...,...,...,...,...,...,...,...,...
31083,"Opioids (T40.0-T40.4,T40.6)",YC,2019,March,1156.0,100,0.057005,New York City,1163.0
31098,"Opioids (T40.0-T40.4,T40.6)",YC,2019,May,1135.0,100,0.069886,New York City,1144.0
31105,"Opioids (T40.0-T40.4,T40.6)",YC,2019,November,1202.0,100,0.097496,New York City,1212.0
31124,"Opioids (T40.0-T40.4,T40.6)",YC,2019,October,1173.0,100,0.086416,New York City,1184.0
31134,"Opioids (T40.0-T40.4,T40.6)",YC,2019,September,1150.0,100,0.077136,New York City,1158.0